@mixin logo-D($width, $height) {
  mask-image: url(/pictures/maskForIntroText.png);
  mask-size: 60% auto;
  cursor: pointer;
  width: $width;
  height: $height;
}

@mixin li-header {
  width: max-content;
  text-transform: uppercase;
  font-family: 'Contrail-One';
  cursor: pointer;
}
