.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 999;
  display: flex;
  align-items: center;
}

.animLine {
  height: 2px;
  width: 0px;
  background-color: #bf0411;

  animation-name: line;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes line {
  0% {
    width: 0%;
  }

  80% {
    width: 80%;
  }

  100% {
    width: 100%;
  }
}
