.imageContainer {
  cursor: pointer;
  border: 2px solid #fff;
  width: 360px;
  height: 460px;
  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 1.05;
  }
}

@media (max-width: 1160px) {
  .imageContainer {
    width: 260px;
    height: 360px;
  }
}

@media (max-width: 650px) {
  .imageContainer {
    width: 160px;
    height: 240px;
  }
}
