html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
footer,
header,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

footer,
header {
  display: block;
}

ol,
ul {
  list-style: none;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  line-height: 1;
}

// styles for links

.active {
  text-decoration: underline;
}

a {
  color: #bf0411;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fff;
  }
}

// fonts

@font-face {
  font-family: 'Contrail-One';
  src: url(/fonts/ContrailOne/ContrailOne-Regular.ttf);
}

@font-face {
  font-family: 'Big-Shoulders-Stencil-Display';
  src: url(/fonts/BigShoulders/BigShouldersStencilDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Shippori Mincho B1 extrabold';
  src: url(/fonts/Shippori/ShipporiMinchoB1-ExtraBold.ttf);
}

@font-face {
  font-family: 'Shippori Mincho B1 regular';
  src: url(/fonts/Shippori/ShipporiMinchoB1-Regular.ttf);
}
