// navigation
@import '../SCSS/navArrows.scss';

.mainContainer {
  position: relative;
}

.textContainer {
  max-width: 1300px;
  padding: 40px 40px 20px 40px;
  margin: 0 auto;
}

.slide {
  display: flex !important;
  position: relative !important;
  flex-direction: column;

  text-align: center;
}

.notSlide {
  max-width: 100%;
  padding: 20px 20px 300px 20px;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}

.slide,
.notSlide {
  justify-content: center;
  align-items: center;
  p {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto';
  }
}

.characterContainer {
  width: 250px !important;
  height: 400px !important;
  transition: all 0.2s ease-in-out;
  background-color: #bf0411;
  background-image: url(/pictures/userInterface/textureStone.webp);
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    background-color: #d7000e;
    box-shadow: 0px 0px 10px 1px#d7000e;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

// custom nav
.buttonsContainer {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 5px;
}

.navBtn,
.activeIdx {
  width: 10px;
  height: 10px;
  border-radius: 80px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navBtn {
  background-color: #ffffff47;
  &:hover {
    background-color: #fff;
  }
}

.activeIdx {
  background-color: #d7000e;
}
