@import "../SCSS/fontSizeMixin.scss";
@import "../SCSS/navArrows.scss";
@import "../SCSS/fontMixin.scss";

.info {
  position: relative;
  z-index: 99999;
}

.info__background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;

  &::before {
    content: "";
    position: absolute;
    background: #bf0411;
    width: 100%;
    top: 14rem;
    left: 0;
    height: 36rem;
    transform: skewY(-15deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(/pictures/userInterface/textureStone.webp);
  }
}

.info__content,
.info__content__text {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.info__content {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 8rem;
  display: flex;
}

.info__content__text {
  width: 48rem;
  padding-left: 20px;
  padding-right: 20px;

  animation-name: left-to-right;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;

  img {
    width: 100%;
    height: auto;
  }

  h3 {
    text-align: right;
    @include adaptive-font(3, 7.125, 120);
  }

  p {
    padding-top: 2.375rem;
    line-height: 60px;
    @include adaptive-font(0.938, 1.5, 120);
  }

  h3,
  p {
    @include ShipporiExtraboldFont;
    color: #fff;
  }
}

.info__visual {
  position: fixed;
  width: 100%;
  left: 0;
  top: 8rem;
  pointer-events: none;

  animation-name: left-to-right;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.info__visual__figure {
  position: relative;
  width: 15rem;
  left: calc(50% + 20rem);
}

.info__visual__figure__img {
  width: 100%;
  height: auto;
}

.navigationArrows {
  position: fixed;
  z-index: 9999;
  top: 45%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.info__closeButton {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 99999;
  width: 65px;
  height: 65px;
  background-color: #fff;
  mask-repeat: no-repeat;
  mask-size: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  mask-image: url(/pictures/icons/cross.png);

  &:hover {
    background-color: #000;
  }
}

@media (max-width: 1150px) {
  .info__content__text {
    width: 38rem;

    p {
      line-height: 50px;
    }
  }

  .info__visual__figure {
    left: calc(50% + 15rem);
  }
}

@media (max-width: 990px) {
  .info__content__text {
    width: 30rem;
  }

  .info__visual__figure {
    left: calc(45% + 10rem);
  }
}

@media (max-width: 750px) {
  .info__content__text {
    width: 20rem;
  }

  .info__visual__figure {
    left: calc(35% + 10rem);
  }
}

@media (max-width: 635px) {
  .info__content__text {
    max-width: 100%;
    width: 100%;
  }

  .info__visual {
    display: none;
  }
}

@keyframes left-to-right {
  0% {
    opacity: 1;
    transform: translateX(-20px);

    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
