@import "../SCSS/headerNavMixins.scss";
@import "../SCSS/animationsMixin.scss";
@import "../SCSS/fontMixin.scss";

.introduce {
  position: relative;
  display: grid;
  grid-template-columns: 25rem 1fr;
  background-color: #bf0411;

  img {
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .mainImgContainer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 0fr;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
    .introTextImage {
      position: absolute;
      top: 44%;
      left: 14%;
      width: 70%;
      filter: drop-shadow(0.2rem 0.2rem 0 rgba(255, 255, 255, 0.6));

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        mask-image: url(/pictures/userInterface/maskForIntroText.png);
        mask-size: 70% auto;
      }
    }

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1.3, 0.4, 0.25, 0.65);
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

// NavBar

.navigation {
  display: grid;
  grid-template-columns: 25rem;
  grid-template-rows: max-content max-content 1fr;

  padding: 40px 0px 0px 0px;
  background-image: url(/pictures/userInterface/navbarBg.webp);
  background-repeat: no-repeat;
  background-size: cover;

  .navigation__logoD {
    @include logo-D(auto, auto);
    @include appearanceAnim(-30, 0, 1);
  }

  ul {
    display: inline-flex;
    flex-direction: column;
    padding: 40px;

    .animOne {
      @include appearanceAnim(-30, 0, 1.1);
    }
    .animTwo {
      @include appearanceAnim(-30, 0, 1.2);
    }
    .animThree {
      @include appearanceAnim(-30, 0, 1.3);
    }
    .animFour {
      @include appearanceAnim(-30, 0, 1.4);
    }
    .animFive {
      @include appearanceAnim(-30, 0, 1.5);
    }

    .animOne,
    .animTwo,
    .animThree,
    .animFour,
    .animFive {
      width: max-content;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include ContrailOneFont;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      a {
        color: #bf0411;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.videoAd {
  @include appearanceAnim(-30, 0, 1.6);
  margin-top: 21rem;
  position: relative;
  z-index: 100;
  height: 100px;
  filter: drop-shadow(0.5rem 0.5rem 0 rgba(136, 136, 136, 0.2));
  div {
    width: 600px;
    height: 450px;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    cursor: pointer;

    img {
      width: auto;
      height: auto;
    }

    &::before {
      content: "";
      position: absolute;
      top: 120%;
      left: 59%;
      width: 100px;
      height: 100px;
      mask-image: url(/pictures/icons/iconPlay.svg);
      mask-repeat: no-repeat;
      background-color: #fff;
      transition: all 0.3s ease-in-out;
    }

    &:hover::before {
      background-color: #bbbbbb;
    }
  }
  &::before {
    position: absolute;
    left: -8rem;
    top: -15rem;
    width: 800px;
    height: 800px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    background-image: url(/pictures/userInterface/movieBg.webp);

    z-index: -1;
  }
}

// UnderIntro

.underIntro {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #333;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(/pictures/userInterface/textureStone.webp);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.underIntro__text {
  position: relative;
  width: 100%;
  height: 1000px;
  &:after {
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    background-color: #bf0411;
    mask-image: url(/pictures/userInterface/maskBg.webp);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    rotate: 180deg;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -110%;
    left: 0;
    background-color: #bf0411;
    mask-image: url(/pictures/userInterface/maskBg.webp);
    mask-size: 100% auto;
    mask-repeat: no-repeat;
  }

  .underIntro__text__watch {
    position: relative;
    max-width: 1463px;
    height: 800px;
    margin: 0 auto;
    padding: 0 40px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      @include BigShouldersFont;
      font-weight: 700;
      font-size: 10rem;
      font-style: italic;
    }
  }

  .playLinkToMovies {
    cursor: pointer;
    width: 150px;
    height: 150px;
    mask-image: url(/pictures/icons/iconPlay.svg);
    mask-repeat: no-repeat;
    background: linear-gradient(to bottom, #bf0411 40%, #000 100%);
    transition: all 0.4s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  .watchPlusMovie {
    filter: drop-shadow(0.2rem 0.2rem 0 rgba(136, 136, 136, 0.2));
    position: absolute;
    top: 5rem;
    left: 10%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      color: #000;
    }
  }
  .nowPlusMovie {
    filter: drop-shadow(0.2rem 0.2rem 0 rgba(136, 136, 136, 0.2));
    position: absolute;
    top: 5rem;
    right: 10%;
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    h2 {
      color: #000;
    }
  }
}

.underIntro__video {
  width: 100%;
  padding-top: 56.25%;
  border: 0px;
  position: relative;
  top: -15rem;
  clip-path: polygon(0 11vw, 100% 0, 100% 100%, 0 100%);
  z-index: 10;

  &::after {
    content: "";
    background-image: url(/pictures/userInterface/dot.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1400px) {
  .videoAd {
    margin-top: 5rem;
    div {
      width: 500px;
      height: 350px;

      &::before {
        top: 90%;
        left: 49%;
      }
    }

    &::before {
      left: -4rem;
      top: -10rem;
      width: 600px;
      height: 600px;
    }
  }
}

@media (max-width: 1160px) {
  .introduce {
    grid-template-columns: 20rem 1fr;
  }

  .navigation {
    grid-template-columns: 20rem;
  }

  .videoAd {
    div {
      width: 400px;
      height: 250px;

      &::before {
        top: 70%;
        left: 45%;
      }
    }

    &::before {
      top: -8rem;
      width: 500px;
      height: 500px;
    }
  }

  .underIntro__text {
    .underIntro__text__watch {
      h2 {
        font-size: 7rem;
      }
    }

    .watchPlusMovie {
      left: 5%;
    }
    .nowPlusMovie {
      top: 10rem;
      right: 5%;
    }

    .playLinkToMovies {
      width: 130px;
      height: 130px;
    }
  }
}

@media (max-width: 1000px) {
  .videoAd {
    margin-top: 0rem;
    div {
      width: 400px;
      height: 250px;

      &::before {
        top: 70%;
        left: 45%;
      }
    }

    &::before {
      top: -8rem;
      width: 500px;
      height: 500px;
    }
  }

  .underIntro__text {
    height: 1200px;
    .underIntro__text__watch {
      margin-top: 3rem;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1.5rem;

      h2 {
        font-size: 10rem;
        filter: drop-shadow(0.2rem 0.2rem 0 rgba(136, 136, 136, 0.2));
      }
    }
  }
  .smallScreenText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .smallScreenMovie {
    filter: drop-shadow(0.2rem 0.2rem 0 rgba(136, 136, 136, 0.2));
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  .introduce {
    grid-template-columns: 1fr;
  }

  .navigation {
    display: none;
  }

  .mainImgContainer {
    margin-top: 0px;
  }
}

@media (max-width: 700px) {
  .footerHelper {
    height: 300px;
  }
  .footerContainer {
    top: -110%;
  }
}

@media (max-width: 460px) {
  .underIntro__text {
    height: 1200px;
    .underIntro__text__watch {
      gap: 2rem;
      h2 {
        font-size: 7rem;
      }
    }
  }

  .smallScreenMovie {
    filter: drop-shadow(0.2rem 0.2rem 0 rgba(136, 136, 136, 0.2));
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 320px) {
  .underIntro__text {
    .underIntro__text__watch {
      gap: 2rem;
      h2 {
        font-size: 5rem;
      }
    }

    .playLinkToMovies {
      width: 100px;
      height: 100px;
    }
  }

  .smallScreenMovie {
    filter: drop-shadow(0.2rem 0.2rem 0 rgba(136, 136, 136, 0.2));
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@keyframes slide {
  0% {
    opacity: 1;
    clip-path: polygon(-100% 100%, 100% -100%, 100% -100%, -100% 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(-100% 100%, 100% -100%, 200% 0, 0 200%);
  }
}
