@import '../SCSS/footerMixins.scss';

.footerContainer {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  z-index: 12;
  background-image: url(/pictures/footerBg.webp);
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    @include black-lines-before;
  }
}

.footerContent {
  padding: 10rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footerLogoD {
    width: 300px;
    height: 100px;
    mask-image: url(/pictures/maskForIntroText.png);
    mask-size: 60% auto;
  }

  .televisionLinks {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    img {
      width: 200px;
      height: 50px;
    }
  }

  h5 {
    margin-top: 2rem;
    color: #aaaaaa;
  }
}

@media (max-width: 1400px) {
  .footerContainer {
    bottom: -3rem;
  }
}

@media (max-width: 900px) {
  .footerContainer {
    bottom: -12rem;
  }

  .televisionLinks {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      width: 200px;
      height: 50px;
    }
  }
}

@media (max-width: 500px) {
  .footerContainer {
    bottom: -14rem;
  }
}

@media (max-width: 350px) {
  .footerContent {
    .footerLogoD {
      width: 200px;
    }

    .televisionLinks {
      img {
        width: 150px;
      }
    }

    h5 {
      font-size: 0.7rem;
    }
  }
}

// Next layout

.footerContainerNextLayout {
  position: absolute;
  bottom: -18rem;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  z-index: 12;
  background-image: url(/pictures/footerBg.webp);
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    @include black-lines-before;
  }
}

.footerContentNextLayout {
  padding: 10rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footerLogoD {
    width: 300px;
    height: 100px;
    mask-image: url(/pictures/maskForIntroText.png);
    mask-size: 60% auto;
  }

  .televisionLinks {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    img {
      width: 200px;
      height: 50px;
    }
  }

  h5 {
    margin-top: 2rem;
    color: #aaaaaa;
  }
}
