@import "../SCSS/headerNavMixins.scss";

.header {
  z-index: 999;
  position: relative;
  background-image: url(/pictures/userInterface/headerBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 20px;
    ul {
      padding: 0px 0px 0px 20px;
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      li {
        font-size: 1.5rem;
        @include li-header;
      }
    }

    .logoD {
      @include logo-D(300px, auto);
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .header__content {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
}

@media (max-width: 900px) {
  .header {
    display: none;
  }
}
