@mixin appearanceAnim($transformInitialX, $transformFinalX, $delay) {
  animation-name: appearance;
  animation-duration: 1s;
  animation-delay: #{$delay}s;
  animation-fill-mode: forwards;
  opacity: 0;

  --transformInitialX: #{$transformInitialX}px;
  --transformFinalX: #{$transformFinalX}px;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateX(var(--transformInitialX));
  }

  100% {
    opacity: 1;
    transform: translateX(var(--transformFinalX));
  }
}
