@mixin adaptive-font($mobSize, $pcSize, $maxWidth) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + ($addSize * 0.7);

  font-size: calc(#{$mobSize + rem} + #{$addSize} * (100vw / #{$maxWidth}));

  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + rem} + #{$addMobSize} * ((100vw - 18.75rem) / #{$maxWidth})
    );
  }
}
