@mixin ContrailOneFont {
  font-family: 'Contrail-One';
}

@mixin BigShouldersFont {
  font-family: 'Big-Shoulders-Stencil-Display';
}

@mixin ShipporiExtraboldFont {
  font-family: 'Shippori Mincho B1 extrabold';
}

@mixin ShipporiRegularFont {
  font-family: 'Shippori Mincho B1 regular';
}
